@import 'libs/reset.css';
@import './styles/fonts';
@import './styles/vars';

* {
    box-sizing: border-box;
}


.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header {
    background-color: $bg;

    &__logo {
        background-image: url(./images/ease.png);
        width: 219px;
        height: 45px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    nav {
        flex-basis: 40%;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 2%;
    }

    &__link {
        text-decoration: none;
        font-size: 21px;
        color: $link;
        letter-spacing: 0.055em;
        text-transform: uppercase;

        &:hover {
            color: black;
            transition: 2s;
        }
    }

    &__link_without {
        margin-right: 0%;
    }

}

.main {
    background-color: $bg;

    .main__container {
        display: flex;
    }

    &__left {
        flex-basis: 45%;
    }

    &__text {
        font-size: 24px;
        letter-spacing: 0.055em;
        width: 100%;
        font-family: $fonts;
        padding-top: 12%;
        padding-right: 5%;
        padding-bottom: 10%;
    }

    .bottom {
        padding-top: 4%;
        position: relative;

        &__naiming {
            z-index: 2;
            position: absolute;
            top: 200px;
            left: 4%
        }
    }

    .circle {
        width: 462px;
        height: 450px;
        background: #E4D7B9;
        border-radius: 250px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        position: absolute;
        left: -56.95px;
    }

    &__right {
        flex-basis: 55%;
        background-image: url(./images/bg__main__right.png);

    }

    .right__show {
        padding-top: 2%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        min-height: 1087px;
    }
}