@import './styles/fonts';
@import './styles/vars';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 16.5vh;
}


.header {
    background-color: $background;

    &__logo {
        background-image: url(./images/ease.png);
        width: 219px;
        height: 45px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    nav {
        flex-basis: 40%;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 2%;
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
        font-size: 21px;
        color: $link;
        letter-spacing: 0.055em;
        text-transform: uppercase;

        &:hover {
            color: black;
            transition: 2s;
        }
    }

    &__link_without {
        margin-right: 0;
    }
}

.main {
    background-color: $background;

    .main__container {
        display: flex;
        padding-top: 1%;
    }

    &__left {
        flex-basis: 45%;
    }

    &__text {
        font-size: 24px;
        font-style: normal;
        font-weight: 100;
        letter-spacing: 0.055em;
        width: 100%;
        font-family: $fonts;
        padding-top: 12%;
        padding-right: 5%;
        padding-bottom: 10%;
    }

    .bottom {
        padding-top: 4%;
        position: relative;
        display: flex;
        justify-content: flex-end;

        &__naiming {
            z-index: 2;
            position: absolute;
            top: 200px;
            left: 4%;
            font-size: 16px;
            letter-spacing: 0.055em;
            line-height: 133.84%;
        }

        &__switch {
            background-color: #BDDDDD;
            max-width: 178px;
            min-height: 554px;
            z-index: 3;
            border-radius: 8px 0 0 0;

            .switch__item {
                width: 8.5em;
                height: 8.5em;
                background-repeat: no-repeat;
                border-radius: 14px;
                margin: 17px 17px 20px 17px;
                display: flex;
                justify-content: center;
            }

            .switch__picture {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }

            .switch__item:hover {
                background: #FFFFFF;
                opacity: 0.5;
                transition: 1.2s;

            }
        }

        .switch__thems {
            display: flex;
        }

        .thems__dark {
            background-color: #94A6A6;
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            min-height: 76px;
        }

        .thems__light {
            background-color: #FFF3DA;
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            min-height: 76px;
        }

        .thems__item {
            object-fit: contain;
        }
    }

    .circle {
        width: 462px;
        height: 450px;
        background: #E4D7B9;
        border-radius: 250px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        position: absolute;
        left: -130px;
    }


    &__right {
        flex-basis: 57%;
        background-image: url(./images/bg__main__right.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }

    .right__show {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        height: 69vh;
    }
}